<h1>My Account</h1>

<div class="info_line">
  <p class="label">Email</p>
  <p class="pokemon_info"><%= @user.email %></p>
</div>
<div class="info_line">
  <p class="label">Balance</p>
  <p class="pokemon_info"><%= number_to_currency(@user.balance) %></p>
</div>
<%= link_to "My Buy Demands", me_buy_demands_path %>
